<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionCode="1" android:versionName="1.0" package="com.magnet.mobile.android.security.oauth">

  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application android:icon="@null" android:label="magnet-android-sdk">

  
    <!-- Called by GCMBroadcastReceiver my_app_pkg_name.GCMIntentService -->
    <service android:enabled="true" android:exported="true" android:name="com.magnet.mobileserver.android.messenger.GCMIntentService"/>
        <service android:enabled="true" android:exported="true" android:name="com.magnet.mobileserver.android.service.LocalMobileServer"/>
        <!--  FOR GCM -->
        <receiver android:enabled="true" android:name="com.magnet.mobileserver.android.messenger.MagnetGCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
            <category android:name="com.magnet.mobileserver.android.messenger"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.magnet.mobile.android.security.oauth.OAuthFlowActivity" android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
    <permission android:name="com.magnet.permission.RECEIVE_MSG" android:protectionLevel="normal"/>
    <!--  For receiving GCM messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.magnet.permission.RECEIVE_MSG"/>

</manifest>
